{% extends "core/theme/base_theme.html" %}
{% csrf_token %}
{% load static i18n %}

{% block extrastyle %}
<script src="{% static 'js/theme/survey_list.js' %}" ></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/theme/survey_table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable.css' %}">
{% endblock extrastyle %}

{% block createbutton %}
{% if client.count == 0 %}
<div class="create_sur_btn"><a href="#" class="newbtn disabled-btn" disabled="">Create Survey</a></div>
{% else %}
<div class="create_sur_btn"><a href="{% url 'survey-create' %}" class="newbtn">Create Survey</a></div>
{% endif %}
{% endblock createbutton %}



{% block content %}
<div class="survey_list_page_wrp client_detail_wrp">
<div class="content-wrapper completed_list">
    <div class="survey_list_page_wrp mt-0">
        <div class="clearfix">
            <div class="left survey_left_head">
                <h3 class="common-head">Completed Survey</h3>
            </div>
            <!-- <div class="right survey_right_wrp alignright  global_table sort-drop-table">
                <div class="survey_sort_wrp">
                    <a href="javascript:;" class="sortbydropdowm">Sort By</a>
                    <ul class="sortbydropdowmlist">
                        <li class="nosort" value="0">Survey Title</li>
                        <li class="nosort" value="1">Client</li>
                        <li class="nosort" value="3">Survey Period</li>
                    </ul>
                </div>
            </div> -->
        </div> 
        <div class="row mt-2 mt-lg-4">
            <div class="col-12 col-md-12">
                <div class="cust-responsive global_table">
                    <div class="right survey_right_wrp alignright  global_table">

                        <div class="survey_sort_wrp sort-grp ">
                            <a href="javascript:;" class="sortbydropdowm">Sort By</a>
                            <ul class="sortbydropdowmlist">
                                <li class="nosort" value="0">Survey Title</li>
                                <li class="nosort" value="1">Client</li>
                                <li class="nosort" value="3">Survey Period</li>
                            </ul>
                        </div>

                    </div>
                    <table class="table table_design " id="myTable">
                    <!-- <table class="table cmn_table_wrp client_coach_list_table" id="myTable">       -->
                        <thead>
                            <tr>	
                                <th>No.</th>
                                <th >Survey Title</th>
                                <th >Client</th>
                                <th >Survey Period</th>
                                <th >Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- {% for sur in survey %}
                            <tr>
                                <td>{% if clientlist.has_previous %}{{ clientlist.previous_page_number }}{% endif %}{{forloop.counter}}</td>
                                <td >{{ sur.title }}</td>
                                <td >{{ sur.Survey_client.first_name }} {{ sur.Survey_client.last_name }}</td>
                                <td >{% if sur.start_datetime %}{{ sur.start_datetime|date:"M d, Y"  }} - {{ sur.end_datetime|date:"M d, Y"  }} {% endif %}</td>
                                <td >{% if sur.status == "CT" %} Closed {% endif %}</td>
                                <td>{% for rpt in report %}{% if rpt.survey == sur %}<a href="{% url 'survey-feedback-detail-user' sur.id 'Client' %}" target="_blank" class="sitebtn view_btn">View</a>{% endif %}{% endfor %}</td>
                                <td><a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="6.8" height="27.2" viewBox="0 0 6.8 27.2"><defs><style>.a{fill:#3b3b3b;}</style></defs><path class="a" d="M6.8,195.4A3.4,3.4,0,1,1,3.4,192,3.4,3.4,0,0,1,6.8,195.4Zm0,0" transform="translate(0 -181.8)"/><path class="a" d="M6.8,3.4A3.4,3.4,0,1,1,3.4,0,3.4,3.4,0,0,1,6.8,3.4Zm0,0"/><path class="a" d="M6.8,387.4A3.4,3.4,0,1,1,3.4,384,3.4,3.4,0,0,1,6.8,387.4Zm0,0" transform="translate(0 -363.6)"/></svg></a></td>
                            </tr>
                            {% endfor %} -->
                        </tbody>
                    </table>
        <!-- {% if survey.paginator.num_pages > 1 %}
        <div class="survey_paginat_wrp d-block text-center mt-3 mt-lg-4">
            <div class="survey_pagination">
                <a {% if survey.has_previous %} href="?page={{ survey.previous_page_number }}" {% else %} href="" {% endif %}  class="prevpagination  alignleft"><svg xmlns="http://www.w3.org/2000/svg" width="16.01" height="25.4" viewBox="0 0 16.01 25.4"><defs><style>.a{fill:#e0e0e0;}</style></defs><path class="a" d="M82.826,11.233,93.455.619a2.048,2.048,0,0,1,2.935,0l1.239,1.223a2,2,0,0,1,.6,1.467,2.087,2.087,0,0,1-.6,1.484L89.705,12.7l7.923,7.923a2,2,0,0,1,.6,1.467,2.087,2.087,0,0,1-.6,1.484L96.39,24.8a2.086,2.086,0,0,1-2.935,0L82.826,14.184a2.087,2.087,0,0,1-.6-1.484A2,2,0,0,1,82.826,11.233Z" transform="translate(-82.222 0)"/></svg></a>
                <a {% if survey.has_next %} href="?page={{ survey.next_page_number }}" {% else %} href="" {% endif %}  class="nextpagination alignright"><svg xmlns="http://www.w3.org/2000/svg" width="16.01" height="25.4" viewBox="0 0 16.01 25.4"><defs><style>.a{fill:#fff;}</style></defs><g transform="translate(0 0)"><path class="a" d="M97.628,11.233,87,.619a2.048,2.048,0,0,0-2.935,0L82.826,1.842a2,2,0,0,0-.6,1.467,2.087,2.087,0,0,0,.6,1.484L90.749,12.7l-7.923,7.923a2,2,0,0,0-.6,1.467,2.087,2.087,0,0,0,.6,1.484L84.064,24.8A2.086,2.086,0,0,0,87,24.8L97.628,14.184a2.087,2.087,0,0,0,.6-1.484A2,2,0,0,0,97.628,11.233Z" transform="translate(-82.222 0)"/></g></svg></a>
            </div>
        </div>
        {% endif %} -->
    </div>
    </div>
    </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function() {
        localStorage.clear();       
        
        var table = $('#myTable').DataTable({
            responsive: true, 
            serverSide: true,
            "processing": true,
            oLanguage: {sProcessing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>'},
		    sAjaxSource: window.location.origin + "/survey/completedlistjson/", 
            columns: [
                        {
                    name: 'no',
                    data: null,
                    render: function(data, type, full, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }},
                    {name: "title", data:0,},
                    {name: "client", data:1,},                    
                    {name: "period", data:3,
                        "render": function(data, type, full, meta) {
                            function getdate(dt){
                                    var date = new Date(dt);
                                    var month = date.toLocaleString('default', { month: 'short' });
                                    return (month.toString().length > 1 ? month : "0" + month) + " " + date.getDate() + "," + date.getFullYear();
                                }
                               var strtdt = getdate(data)
                               var enddt =  getdate(full[4])
                               console.log(strtdt+'-'+enddt)
                               return (strtdt+'-'+enddt) ;                                
                            }
                    },
                    {name: "status", data:"Closed",
                        "render": function(data) {
                            return 'Closed';}},   
                    {name: "report", data:2,
                        "render": function(data) {
                            link = document.location.origin+'/survey/feedback-report/'+data+'/Client'
                            return '<a href="'+link+'" target="_blank" class="sitebtn view_btn">View</a>'}
                        },                            
                    {name: "survey",   
                        "render": function() {                                                   
                        return '<a href="javascript:;"><svg xmlns="http://www.w3.org/2000/svg" width="6.8" height="27.2" viewBox="0 0 6.8 27.2"><defs><style>.a{fill:#3b3b3b;}</style></defs><path class="a" d="M6.8,195.4A3.4,3.4,0,1,1,3.4,192,3.4,3.4,0,0,1,6.8,195.4Zm0,0" transform="translate(0 -181.8)"/><path class="a" d="M6.8,3.4A3.4,3.4,0,1,1,3.4,0,3.4,3.4,0,0,1,6.8,3.4Zm0,0"/><path class="a" d="M6.8,387.4A3.4,3.4,0,1,1,3.4,384,3.4,3.4,0,0,1,6.8,387.4Zm0,0" transform="translate(0 -363.6)"/></svg></a>';}},                                      
                ],
        });

        $(document).on('click', '.nosort', function() {
                table.order([$(this).attr('value'), 'asc']).draw();
                table.page('next').draw('page');
                table.on('order.dt search.dt', function() {
                    let i = 1;
                    table.cells(null, 0, {
                        search: 'applied',
                        order: 'applied'
                    }).every(function(cell) {
                        this.data(i++);
                    });
                }).draw();
            })
    })

</script>
{% endblock content %}