<!DOCTYPE html>
<html>
<head>
	<title>Spendid</title>
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body bgcolor="#c3ddd4" style="font-family: 'Nunito Sans', sans-serif;">
	<table width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="background: #fff;box-shadow: 0 0 14px 3px rgb(69 162 158 / 20%);padding:20px;" >

		<tr>
			<td align="left" style="font-size:14px; line-height:20px; font-weight:400;padding-bottom: 15px;white-space: pre-line;">{}</td>
		</tr>

	</table>
</body>
</html>