{% extends "core/theme/base_theme.html" %}
{% csrf_token %}
{% load static i18n %}

{% block extrastyle %}
<script src="{% static 'js/theme/add-participant.js' %}" ></script>
{% endblock extrastyle %}

{% block createbutton %}
{% if client.count == 0 %}
<div class="create_sur_btn"><a href="#" class="newbtn disabled">Create Survey</a></div>
{% else %}
<div class="create_sur_btn"><a href="{% url 'survey-create' %}" class="newbtn">Create Survey</a></div>
{% endif %}

{% endblock createbutton %}

{% block content %}

<div class="content-wrapper">
    <div class="add_partici_wrp">

        <div class="page-title-header mb-2">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-12">
                    <div class="page-title-text mb-sm-4 mb-lg-0">
                        <h3 class="text-dark font-weight-bold">Edit Participant</h3>
                    </div>
                </div>
            </div>
        </div>
        <p>It is a pleasure to welcome you as a coaching client. I look forward to helping you achieve your desired outcomes.</p> 

        <div class="client_intake_form mt-3">
            <form name="addparticipantfrm" class="commnewfrmdesign" id="addparticipantfrm" method="post" >

                {% csrf_token %}
                <div class="d-block client-info mb-2 mb-lg-4">
                    <div class="row mt-2 mt-lg-4">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group cst-input-group mb-3">
                                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="mdi mdi-account-outline"></i></span></div>
                                    <input type="text" name="fname" class="form-control cutome-input" id="fname"  value= "{{ parobj.first_name }}" placeholder="First Name" required>
                                    <span class="error" id="fnameerr"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group cst-input-group mb-3">
                                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="mdi mdi-account-outline"></i></span></div>
                                    <input type="text" name="lname" class="form-control cutome-input" id="lname" value= "{{ parobj.last_name }}" placeholder="Last Name" required>
                                    <span class="error" id="lnameerr"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group cst-input-group mb-3">
                                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="mdi mdi-account-outline"></i></span></div>
                                    <input type="email" name="email" id="email" class="form-control cutome-input" value= "{{ parobj.email }}"cache-items placeholder="Email" required readonly >
                                    <span class="error" id="emailerr"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="input-group cst-input-group mb-3">
                                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i class="mdi mdi-account-outline"></i></span></div>
                                    <select class="form-control cutome-input" name="relationship" id="relationship">
                                        <option value="demo" selected>Select Relationship</option>
                                        {% for r in relation %}
                                        <option value={{ r.id }} {% if r.id == parobj.relationship.id   %} selected {% endif %}>{{ r.relation }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="error" id="relationshiperr"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sub_field">
                    <button type="submit" id="addparticipantsub" class="btn btn-default mr-2">Save</button>
                    <button type="cancel" id="clientintakecan" class="btn them-outline-btn ml-2">Cancel</button>
                </div>

                {% if sucmessage %}
                <p class="sucessmsg"> {{ sucmessage }}</p>
                {% endif %}
                {% if failmessage %}
                <p class="failsmsg"> {{ failmessage }}</p>
                {% endif %}

                {% if messages %}
                        {% for message in messages %}
                            <p class="failsmsg"> {{ message  }}</p>
                        {% endfor %}
                {% endif %}
            </form> 
        </div>

    </div>
</div>



<div class="forgotpass_popup cmn_sitepopup">
    <div class="forgotpass_inn_poup cmn_site_inn_popup">
        <a href="javascript:;" class="closepoup"></a>
        <h2>Enter Value</h2>
        
        <form name="otherfrm" id="othersub" method="post" action="/add-relation/">
            {% csrf_token %}
            <div class="cmn_field inputicon emialicon">
                <input type="text" name="rel" id="rel" placeholder="Text" value={{ relat.relation}}>
                <span class="error" id="othererr"></span>
            </div>
            <div class="sub_field">
                
                <button type="button" id="addrelation" name="addrelation" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
    <div class="whiteoverlay"></div>
</div>

{% endblock content %}

