{% extends "core/theme/base_theme.html" %}
{% csrf_token %}
{% load static i18n %}
{% load customtags %}
{% block extrastyle %}

<style>
	select{
		font-family: fontAwesome
	}

   .modal-dialog.modal-lg.cmn_site_inn_popup {
   text-align: left;
   max-width:auto!important;
   }
   div#email_preview {
   background: rgba(0,0,0,0.5);
   }
   button#dropdownMenuButton {
   padding: 12px 0;
   }
   #allParticipants span.input-group-text i {
   font-size: 18px;
   }
   .cmn_table_wrp tbody tr:hover a.newbtn.table-btn {
   background: linear-gradient(to bottom, #686868, #696b6a, #686868, #696b6a, #686868);
   }
   .saveas-popup
   {
   width: 530px;
   }
   .draft_inn.cmn_site_inn_popup.saveas-popup label {
   margin-bottom: 0;
   }
   .sav
   a.newbtn.table-btn {
   color: #fff;
   text-decoration: none;
   }
   .save-as-rpt {
   display: flex;
   flex-direction: column;
   }
   .save-as-rpt .one_block
   {
   display: flex;
   align-items: center;
   margin-bottom: 8px;
   }
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup thead tr th:nth-child(1),
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr td:nth-child(1)
   {
   width: 13%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup thead tr th:nth-child(2),
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr td:nth-child(2)
   {
   width: 21%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup thead tr th:nth-child(3),
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr td:nth-child(3)
   {
   width: 21%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup thead tr th:nth-child(4),
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr td:nth-child(4)
   {
   width: 21%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup thead tr th:nth-child(5),
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr td:nth-child(5)
   {
   width: 18%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr.extended-html th:nth-child(2),
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr.extended-html td:nth-child(2)
   {
   width: 13%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr.extended-html th:nth-child(3),
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr.extended-html td:nth-child(3)
   {
   width: 21%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr.extended-html th:nth-child(4),
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr.extended-html td:nth-child(4)
   {
   width: 21%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr.extended-html th:nth-child(5),
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr.extended-html td:nth-child(5)
   {
   width: 21%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr.extended-html th:nth-child(6),
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr.extended-html td:nth-child(6)
   {
   width: 18%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr.extended-html th:nth-child(7),
   table.table.cmn_table_wrp.client_coach_list_table.coach-popup tbody#partbl2 tr.extended-html td:nth-child(7)
   {
   width:0%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table  tbody#partbl tr.extended-html td:nth-child(1)
   {
   width:7%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table  tbody#partbl tr.extended-html td:nth-child(2)
   {
   width:7%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table  tbody#partbl tr.extended-html td:nth-child(3)
   {
   width:18%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table  tbody#partbl tr.extended-html td:nth-child(4)
   {
   width:18%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table  tbody#partbl tr.extended-html td:nth-child(5)
   {
   width:18%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table  tbody#partbl tr.extended-html td:nth-child(6)
   {
   width:14%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table  tbody#partbl tr.extended-html td:nth-child(7)
   {
   width:16%!important;
   }
   table.table.cmn_table_wrp.client_coach_list_table  tbody#partbl tr.extended-html td:nth-child(7)
   .save-as-rpt .one_block label
   {
   margin-bottom: 0;
   font-weight: 600;
   }
   .loading_img {
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   background: #fff;
   z-index: 99999;
   display: none;
   }
   .loading_img img {
   max-width: 50px;
   margin: auto;
   display: block;
   padding: 20% 0;
   }
   h6.font-bold {
   font-style: normal;
   font-size: 16px;
   font-weight: 800;
   color: #3b3b3b;
   }
   .dropdown_area {
   border: none;
   font-size: 21px;
   background: transparent !important;
   }
   .dropdown_area.active_btns+div {
   display: block !important;
   }
   .user_link {
   background: #e0fffc;
   border: 1px solid #42aaa1;
   padding: 7px 12px;
   border-radius: 3px;
   color: #42aaa1;
   }
   .btn-primary:hover {
   color: #fff;
   text-decoration: none;
   background-color: transparent !important;
   background-image: linear-gradient(to bottom, #686868, #696b6a, #686868, #696b6a, #686868);
   border-color: #686969;
   }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/theme/survey_table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/theme/add_client.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/theme/survey_table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/theme/survey.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/theme/step.css' %}">

<script src="{% static 'js/theme/sort.js' %}"></script>
<script src="{% static 'js/theme/add_client.js' %}"></script>
<script src="{% static 'js/theme/survey.js' %}?v={{CACHE_VERSION}}" ></script>
{% endblock extrastyle %}
{% block createbutton %}
{% if client.count == 0 %}
<div class="create_sur_btn"><a href="#" class="newbtn disabled-btn" disabled="">Create Survey</a></div>
{% else %}
<div class="create_sur_btn"><a href="{% url 'survey-create' %}" class="newbtn">Create Survey</a></div>
{% endif %}
{% endblock createbutton %}
{% block content %}

<div class="content-wrapper">
<!--    <h2>Message History</h2>-->
<!--        <table class="table table-bordered mt-5">-->
<!--            <thead>-->
<!--               <tr>-->
<!--                  <th>Email</th>-->
<!--                  <th>First Name</th>-->
<!--                  <th>Last Name</th>-->
<!--                  <th>Survey Sent</th>-->
<!--                  <th>Reminder Sent</th>-->
<!--                  <th>Responded</th>-->
<!--               </tr>-->
<!--            </thead>-->
<!--            <tbody >-->
<!--            {% for sc in sur_comp %}-->
<!--               <tr>-->
<!--                  <td>{{sc.participant.email}}</td>-->
<!--                  <td>{{sc.participant.first_name}}</td>-->
<!--                  <td>{{sc.participant.last_name}}</td>-->
<!--                  <td>{{sc.created_ts|date:'F d '}}</td>-->
<!--                  <td>{% for remind in reminder %}-->
<!--                          {% if remind.participant == sc.participant %}-->
<!--                            {{remind.created_ts|date:'F d '}}-->
<!--                          {% endif %}-->
<!--                      {% endfor %}</td>-->
<!--                  <td>{% if sc.response == "Complete" %} Completed {% else %}{% if sc.response == "PARTIALRESPONSE" %} Partial {% else %} No {% endif %}{% endif %}</td>-->
<!--               </tr>-->
<!--            {% endfor %}-->
<!--            </tbody>-->
<!--         </table>-->
    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane active show" role="tabpanel" id="step2" aria-labelledby="step2-tab">
                           <div class="row ">
                               <div class="col-12 col-md-12">                                
                                 <div class="addclientprf_cmn">
                                    <h4>Message History for {{sur_comp.0.survey}}</h4>
                                 </div>
                              </div>
                             
                                 <div class="col-12 col-md-12">
                                    <div class="cust-responsive global_table all-doc">
                                       <table class="table table_design uploaded_file_table mt-0" id="myTable">
                                       <thead>
                                          <tr>
                                             <th style="width:15%;">Email</th>
                                             <th style="width:18%;">First Name</th>
                                             <th style="width:18%;">Last Name</th>
                                             <th style="width:18%;">Survey Sent</th>
                                             <th style="width:14%;">Reminder Sent</th>
                                             <th style="width:13%;">Responded</th>
                                          </tr>
                                       </thead>
                                       <tbody >
                                       {% for sc in sur_comp %}
                                          <tr>
                                             <td style="width:15%;">{{sc.participant.email}}</td>
                                             <td style="width:18%;">{{sc.participant.first_name}}</td>
                                             <td style="width:18%;">{{sc.participant.last_name}}</td>
                                             <td style="width:18%;">{{sc.created_ts|date:'F d '}}</td>
                                             <td style="width:14%;" class="remove_extra_comma">{% for remind in reminder %}{% if remind.participant == sc.participant %}{{remind.created_ts|date:'F d'}}, {% endif %}{% endfor %}</td>
                                             <td style="width:13%;">{% if sc.response == "Complete" %} Completed {% else %}{% if sc.response == "PARTIALRESPONSE" %} Partial {% else %} No {% endif %}{% endif %}</td>
                                          </tr>
                                       {% endfor %}
                                       </tbody>

                                    </table>
                                 </div>
                                 </div>
                                 </div>

                             
                           </div>
                        </div>
                     </div>
</div>
<script>
      $(document).ready( function () {
    $('#myTable').DataTable({
            responsive: true,           
            "processing": true,
            oLanguage: {sProcessing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>'},
            
        });
    
} );
   jQuery(document).ready(function($){
      $(".remove_extra_comma").each(function(){
         str = $(this).text().trim()
         newstr = str.replace(/(^,)|(,$)/g, "")
         $(this).text(newstr)
      })
      
   })
</script>

{% endblock content %}