<!DOCTYPE html>
<html>
<head>
	<title>Spendid</title>
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body bgcolor="#c3ddd4" style="font-family: 'Nunito Sans', sans-serif;">
	<table width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="background: #fff;box-shadow: 0 0 14px 3px rgb(69 162 158 / 20%);padding:20px;" >
	
		<tr>
			<td align="left" style="font-size:14px; line-height:20px; font-weight:400;">Dear {},</td>
		</tr>
		<tr>
			<td align="left" style="font-size:14px; line-height:20px; font-weight:400;">{}</td>
		</tr>
		<tr><td>{}</td></tr>
		<tr>
			<td align="center" style="font-size:14px;line-height:20px; font-weight:400;padding:20px 0 20px 0;"><a href="{}{{url}}" style=" text-decoration:none; text-transform: capitalize;   color: #fff;box-shadow: 3px 10px 10px #67c5bd59;border-radius: 30px;font-size: 16px;line-height: 18px;padding: 12px 24px;background: #45a29e;
				display: inline-block;">START SURVEY</a></td>
		</tr>
		<tr>
		<td>{}</td>
		</tr>
		<tr>
			<td align="left" style="font-size:14px; line-height:20px; font-weight:400;">{}{{coach}}</td>
		</tr>
		<tr>
			<td align="left" style="font-size:14px; line-height:20px; font-weight:400;">{}{{sur.Survey_client.coach.title}} </td>
		</tr>
		<tr>
			<td align="left" style="font-size:14px; line-height:20px; font-weight:400;">{}{{sur.Survey_client.coach.company_name}}</td>
		</tr>
		<tr>
			<td align="left" style="font-size:14px; line-height:20px; font-weight:400;">{}{{sur.Survey_client.coach.user.email}}</td>
		</tr>
		<td align="left" >{}</td>
	</table>
</body>
</html>