.reset_pass_sect .commn_page_inn p {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}
.reset_pass_sect .commn_page_inn h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 10px;
}
.reset_pass_sect .sub_field {
    margin-top: 30px;
}
.reset_pass_success_page_wrp a.sitebtn {
    margin-top: 30px;
}
.reset_pass_success_page_wrp {
    margin-top: 100px;
}
.red h1{
    color:red;

}