{% extends "new_theme/base.html" %}
{% csrf_token %}
{% load static i18n %}
{% block extrastyle %}

{% endblock extrastyle %}

{% block content %}

    <section class="display_section">
        <div class="inside">

            <div class="col-sm-12 plans_pricing mt-3">
                <div class="row">

                    <div class="col-lg-12 single_block mb-4">
                        <div class="shadow_box">
                            <div class="page_title with_go_back">
                                <a onclick="history.back()"><img src="{% static 'new_theme/images/go-back.svg' %}" alt="go-back /"></a>
                                <h4 id="page_title"> Add New Participant</h4>
                            </div>
                            {% if participant %} <input type="hidden" class="participant_id" value="{{participant.0.id}}">{% endif %}
                           <div class="form_data">
                            <form  id="add_participant" >
                                {% csrf_token %}
                                    <div class="title"><h2>Personal Details</h2></div>
                                    <div class="row">
                                      <input type="text" id="participant_id" class="form-control" value="" hidden/>
                                        <div class="col-md-6 col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label>First Name<span class="requird-field asterisk-sign">&#42;</span></label>
                                                <input type="text" id ="first_name" name="first_name" class="form-control"  required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label>Last Name<span class="requird-field asterisk-sign">&#42;</span></label>
                                                <input type="text" id = "last_name" name="last_name" class="form-control"  required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label>Email<span class="requird-field asterisk-sign">&#42;</span></label>
                                                <input type="email" id="email" name="email" class="form-control" required/>
                                                <span class="error" id="emailerr" ></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 mb-3">
                                            <div class="form-group">
                                                <label>Relation<span class="requird-field asterisk-sign">&#42;</span></label>
                                                <select id="relation" class="form-control relation" name="relation">
                                                    <option disabled="" selected>Select Relation</option>
                                                </select>
                                                <span class="error" id="relationerr" ></span>
                                            </div>
                                        </div>    
                                        {%if not participant%}
                                        {% if coaches %}
                                            <div class="col-md-6 col-lg-6 mb-3">
                                                <div class="form-group select-grp">
                                                    <label>Assign Coach<span class="requird-field asterisk-sign">&#42;</span></label>
                                                    <select id="coach" class="form-control" name="coach" multiple >
                                                        {% for coach in coaches %}
                                                            <option value="{{coach.id}}">{{coach.first_name}} {{coach.last_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <span class="error" id="coacherr"></span>
                                                </div>
                                            </div>
                                        {% endif %}      
                                        {% if not request.user.user_type == 3 %}          
                                        <div class="col-md-6 col-lg-6 mb-3">
                                            <div class="form-group select-grp">
                                                <label>Assign Client<span class="requird-field asterisk-sign">&#42;</span></label>
                                                <select id="client" class="form-control" name="client" multiple>
                                                    {% for client in clients %}
                                                        <option value="{{client.id}}">{{client.first_name}} {{client.last_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="error" id="clienterr"></span>
                                            </div>
                                        </div>   
                                        {% else %}
                                        <input type="hidden" value="{{request.user.clients.id}}" id="client_id">
                                        {% endif %}                
                                    </div>      
                                    {%endif%}                            
                                    <div class="col-sm-12 d-flex justify-content-center form_buttons mt-4">
                                        <button class="reset" type="reset">Cancel</button>
                                        <button class="submit" type="button" id="save_participant">Save</button>
                                    </div>
                                </form>
                           </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    
{% endblock %}    
{% block extrajs%}
<script>
    var participantData = `{{participant_data|safe}}`
    var participantRelation = '{{participant.0.relationship}}'
    var participantClient = '{{participant.0.client}}'
    jQuery('#coach').select2({placeholder: 'Select Coaches'});
    jQuery('#client').select2({
        placeholder: 'Select Clients',
        search: true
    });
    try {
    $('#coach').val({{participant.0.client__coach}}).trigger("change");
    $('#client').val(participantClient).trigger("change");
    }
    catch(err) {
        console.log(err)
    }
</script>
<script src="{% static 'new_theme/appScript/add-new-participant.js' %}"></script>
{% endblock %}