{% extends "new_theme/base.html" %}
{% csrf_token %}
{% load static i18n %}
{% block extrastyle %}

{% endblock extrastyle %}

{% block content %}


    <section class="display_section">
        <div class="inside">

            <div class="col-sm-12 revenue_block mt-3">
                <div class="row">
                    <div class="col-lg-4 revenue mb-4">
                        <div class="shadow_box">
                            <div class="left">
                                <h4>Individual</h4>
                                <div class="price">${{individual_amount}}</div>
                            </div>
                            <div class="image"><img src="{% static 'new_theme/images/individual-plan.png' %}" alt="individual-plan" /></div>
                        </div>
                    </div>
                    <div class="col-lg-4 revenue mb-4">
                        <div class="shadow_box">
                            <div class="left">
                                <h4>Enterprise</h4>
                                <div class="price">${{enterprise_amount}}</div>
                            </div>
                            <div class="image"><img src="{% static 'new_theme/images/exterprise-plan.png' %}" alt="exterprise-plan" /></div>
                        </div>
                    </div>
                    <div class="col-lg-4 revenue mb-4">
                        <div class="shadow_box">
                            <div class="left">
                                <h4>Total</h4>
                                <div class="price">${{enterprise_amount|add:individual_amount }}</div>
                            </div>
                            <div class="image"><img src="{% static 'new_theme/images/Total-revenue.png' %}" alt="Total-revenue" /></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 plans_pricing">
                <div class="row">
                    <div class="col-lg-6 single_block mb-4">
                        <div class="shadow_box pt-3">
                            <div class="mb-4">
                                <select class="individual form-control " onchange="individualChartChange()">
                                    <option disabled >Select Your Plan Duration</option>
                                    <option selected>Monthly</option>
                                    <option>Yearly</option>
                                </select>
                            </div>
                            <div id="individualPlan"></div>
                        </div>
                    </div>

                    <div class="col-lg-6 single_block mb-4">
                        <div class="shadow_box pt-3">
                            <div class="mb-4">
                                <select class="enterprise form-control" onchange="EnterpriseChartChange()">
                                    <option disabled >Select Your Plan Duration</option>
                                    <option selected>Monthly</option>
                                    <option>Yearly</option>
                                </select>
                            </div>
                            <div id="EnterprisePlan"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 plans_pricing">
                <div class="row">

                    <div class="col-lg-12 single_block mb-4">
                        <div class="shadow_box">
                            <div class="page_title">
                                <h4>Revenue</h4>
                                <div class="right_area">
                                    <a href="#">Download Invoice</a>
                                    <button class="page_filter revenue"><img src="{% static 'new_theme/images/filter.png' %}" alt="filter"></button>
                                </div>
                            </div>
                            <div class="page_filter_part">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-3 mb-2"><input type="text" class="form-control" placeholder="Coach Name" /></div>
                                        <div class="col-lg-3 mb-2"><input type="email" class="form-control" placeholder="Email" /></div>
                                        <div class="col-lg-3 mb-2">
                                            <select class="form-control">
                                                <option selected disabled>Select Plan</option>
                                                <option>Individual</option>
                                                <option>Enterprise</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 mb-2">
                                            <select class="form-control">
                                                <option selected disabled>Status</option>
                                                <option>Active</option>
                                                <option>Inactive</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12"><button class="apply_filter revenue submit">Apply Filter</button></div>
                                    </div>
                                </form>
                            </div>
                            <div class="table_design">
                                <div class="sort_by">
                                    <select id="sort_by">
                                        <option disabled selected>Sort by</option>
                                        <option value="1">New Entries</option>
                                        <option value="2">Old Entries</option>
                                    </select>
                                </div>
                                <table class="tableLayout responsive nowrap" id="revenueDatatable">
                                    <thead>
                                        <tr>
                                            <th>Sr. No</th>
                                            <th>Profile</th>
                                            <th>Coach Name</th>
                                            <th>Email</th>
                                            <th>Active Plan</th>
                                            <th>Price</th>
                                            <th>Purchase Date</th>
                                            <th>Expiry Date</th>
                                            <th>Plan Status</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock content%}

{%block extrajs%}
<script src="{% static 'new_theme/appScript/revenue.js' %}?v={{CACHE_VERSION}}"></script>
{% endblock extrajs%}